<%- include('../partials/adminheader.ejs') %> 
<body>
    <div class="screen-overlay"></div>
    
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/userAssets/imgs/theme/logo.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/homePage2"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/userManagement"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">User Management</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/categoryPage"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/productPage"> <i class="icon material-icons md-store"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/orderPage"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
            </ul>
            <br>
            <br>
        </nav>
    </aside>

    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="adminAssets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="adminAssets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="adminAssets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="adminAssets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="adminAssets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                    <p>Add product, Edit product and Unlist.</p>
                </div>
                <div>
                    <a href="/admin/addProduct" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-12 me-auto mb-md-0 mb-3"></div>
                        <div class="col-md-2 col-6"></div>
                    </div>
                </header>
                
                <div class="card-body">
                    <tbody>
                        <% if(products.length > 0) { %>
                            <% for(let i = 0; i < products.length; i++) { %>
                                <div class="row mb-3">
                                    <div class="col-md-1"><%= (page - 1) * limit + i + 1 %></div>
                                    <div class="col-md-2"><%= products[i].productName %></div>
                                    <div class="col-md-1"><%= products[i].price %></div>
                                    <div class="col-md-1"><%= products[i].stock %></div>
                                    <div class="col-md-2"><%= products[i].category %></div>
                                    <div class="col-md-1">
                                        <% if(products[i].isUnlisted) { %>
                                            Unlisted
                                        <% } else { %>
                                            Active
                                        <% } %>
                                    </div>
                                    <div class="col-md-1 d-flex" style="justify-content: space-around;">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/admin/editproduct?id=<%= products[i]._id %>'">Edit</button>
                                        <span style="margin-right: 60px;"></span>
                                        <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete('<%= products[i]._id %>')">Delete</button>
                                    </div>
                                </div>
                            <% } %>
                        <% } else { %>
                            <div class="row">
                                <div class="col">Products Not Found</div>
                            </div>
                        <% } %>
                    </tbody>
                </div>

                <div class="card-footer">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <% if (page > 1) { %>
                                <li class="page-item">
                                    <a class="page-link" href="/admin/productPage?page=<%= page - 1 %>&limit=<%= limit %>" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            <% } %>
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="page-item <%= page === i ? 'active' : '' %>">
                                    <a class="page-link" href="/admin/productPage?page=<%= i %>&limit=<%= limit %>"><%= i %></a>
                                </li>
                            <% } %>
                            <% if (page < totalPages) { %>
                                <li class="page-item">
                                    <a class="page-link" href="/admin/productPage?page=<%= page + 1 %>&limit=<%= limit %>" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmDelete(productId) {
            Swal.fire({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this product!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/admin/deleteproduct/${productId}`, {
                        method: 'DELETE',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            console.log("Product deleted successfully");
                            return response.json();
                        } else {
                            throw new Error("Failed to delete product");
                        }
                    })
                    .then(data => {
                        Swal.fire("Deleted!", "Your product has been deleted.", "success");
                        window.location.reload(); // Reload the page
                    })
                    .catch(error => {
                        Swal.fire("Error", "Failed to delete the product. Please try again later.", "error");
                    });
                } else {
                    Swal.fire("Cancelled", "Your product is safe :)", "error");
                }
            });
        }
    </script>
</body>
</html>
